<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <ul class="footer-links">
                    <li><a href="/">Strona Główna</a></li>
                    <li><a href="/menu">Menu</a></li>
                    <li><a href="/reviews">Opinie</a></li>
                    <li><a href="/contact">Kontakt</a></li>
                </ul>
                <p class="copyright">&copy; 2024 Wszelkie prawa zastrzeżone.</p>
            </div>
        </div>
    </div>
</footer>
