<header class="container">

    <div class="row">
        <h1 class="text-center my-4">Nasze Menu</h1>
    </div>
    
    <div class="row">
        <p class="col-12 col-lg-10 col-xl-8 mx-auto" style="text-align: justify;">W naszym Menu znajdziesz szeroki wybór potraw, które zaspokoją nawet najbardziej wymagające podniebienia. Wszystkie nasze dania są przygotowywane z najwyższej jakości składników, starannie wyselekcjonowanych od lokalnych dostawców. Dbamy o to, aby nasze potrawy były nie tylko smaczne, ale również zdrowe i świeże. Nasze menu oferuje zarówno klasyki kuchni, jak i unikalne specjały, które zachwycą Cię swoim smakiem i aromatem. Zachęcamy do odkrywania naszych wyjątkowych dań i delektowania się każdym kęsem!</p>
    </div>

    <div class="row my-5">
        <app-pizza-list class="col-12 col-lg-10 col-xl-8 mx-auto"></app-pizza-list>
    </div>

</header>